@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-font: "Open Sans", sans-serif;
}

.footer-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.footer-details-container {
  color: #ffffff;
  display: flex;
  text-align: right;
  flex-direction: column;
  gap: 0.75rem;
}
.footer-details-container > h4 {
  font-family: var(--primary-font) !important;
  font-size: 1.25rem;
  font-weight: 600;
}

.footer-location-media img {
  /* height: 6rem; */
  width: 80%;
}

.footer-locatin_content {
  color: #ffffff;
  display: flex;
  gap: 0.5rem;
  flex-direction: row-reverse;
}
.footer-locatin_content > p {
  font-family: var(--primary-font) !important;
  font-size: 1rem;
}
.footer-locatin_content > .css-i4bv87-MuiSvgIcon-root {
  font-family: var(--primary-font) !important;
  font-size: 1rem;
}

.footer-contacts-container {
  display: flex;
  text-align: right;
  flex-direction: column;
  gap: 0.75rem;
}
.footer-contacts-container > h4 {
  color: #ffffff;
  font-family: var(--primary-font) !important;
  font-size: 1.25rem;
  font-weight: 600;
}

.footer-contact_content {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row-reverse;
}

.footer-contact_content > p {
  font-family: var(--primary-font) !important;
  font-size: 1rem;
}
.footer-contact_content > .css-i4bv87-MuiSvgIcon-root {
  font-family: var(--primary-font) !important;
  font-size: 1rem;
}

.footer-external-links-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.5rem;
}
.footer-external-links-container > h4 {
  color: #ffffff;
  font-family: var(--primary-font) !important;
  font-size: 1rem;
  font-weight: 600;
}
.footer-external-links-container a {
  font-family: var(--primary-font) !important;
  text-decoration: none;
}
.footer-external-links-container a > p {
  font-family: var(--primary-font) !important;
  color: #ffffff;
  font-size: 1rem;
}

.footer-quick-links-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.5rem;
}
.footer-quick-links-container > h4 {
  color: #ffffff;
  font-family: var(--primary-font) !important;
  font-size: 1rem;
  font-weight: 600;
}
.footer-quick-links-container a {
  text-decoration: none;
}
.footer-quick-links-container a > p {
  color: #ffffff;
  font-family: var(--primary-font) !important;
  font-size: 1rem;
}

.footer-logo-container {
  text-align: right;
}
.footer-logo-container img {
  height: 8rem;
}

/* css media query */
/* Medium devices (landscape tablets, 768px and down) */

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  .footer-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .footer-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
