@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-font: "Open Sans", sans-serif;
}

/* text slider section start */
.text-slider-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.text-swiper-slider {
  /* background-color: green; */
}
.text-swiper-slider > .swiper-button-prev:after {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
}
.text-swiper-slider > .swiper-button-next:after {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
}

.text-swiper-slider_content-Box {
  min-height: 14rem;
}
.text-swiper-slider_content-Box > h4 {
  color: #ffffff !important;
  font-family: var(--primary-font) !important;
  font-size: 1.5rem;
  text-align: right;
}
.text-swiper-slider_content-Box > p {
  color: #ffffff !important;
  font-family: var(--primary-font) !important;
  font-size: 1rem;
  text-align: right;
  margin-top: 1.5rem;
}
/* text slider section end */

/* card slider container start */
/* .card-slider-container {
    border: 2px solid red !important;
}

.card-swiper-slider {
    padding-right: 260px;
    border: 1px solid green;
    width: 20%;
}

.card-swiper-slider > .swiper-wrapper .swiper {
    width: 100%;
    padding-top: 50px;
  padding-bottom: 50px;
}

.card-swiper-slider > .swiper-wrapper .swiper-slide {
    background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.card-swiper-slider > .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
} */
.card-tab-panel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.card-tab-panel-container > div {
  border-bottom: 1px solid rgba(0, 168, 154, 0.5);
}
.card-tab-panel_btns button {
  font-family: var(--primary-font) !important;
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: none;
}
.card-tab-panel_btns button:hover {
  color: #00a89b !important;
  font-size: 1.5rem;
  text-transform: none;
}
.card-tab-panel_btns .Mui-selected {
  color: #00a89b !important;
  font-family: var(--primary-font) !important;
  font-size: 1.5rem;
  text-transform: none;
}

.card-tab-panel_btns .MuiTabs-indicator {
  background-color: #00a89b !important;
}
.card-slider-container .swiper {
  width: 55%;
  height: 100%;
}

.card-slider-container .swiper-slide {
  text-align: center;
  min-height: 380px;

  /* Center slide text vertically */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.card-swiper-slider .swiper-slide {
  max-width: 375px !important;
}

.card-slider-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-slider-container .swiper-slide-prev {
  /* background-color: #ffffff; */
  background-color: #00a89b;
  z-index: 9 !important;
}
.card-slider-container .swiper-slide-active {
  background-color: #00a89b;
  z-index: 9 !important;
}
.card-slider-container .swiper-slide-next {
  background-color: #ffffff;
  z-index: 10 !important;
}
.card-slider-container .swiper-slide-next + .swiper-slide {
  background-color: #00887d;
  z-index: 8 !important;
}
.card-slider-container .swiper-slide-next + .swiper-slide + .swiper-slide {
  background-color: #00887d;
  z-index: -7 !important;
}

.card-slider-box {
  padding: 1.5rem;
  max-height: 320px;
  overflow: hidden;
  width: 100%;
}

.card-slider_header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-slider_author {
  text-align: left;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.card-slider_author > h4 {
  font-family: var(--primary-font) !important;
  font-size: 1rem;
  font-weight: 700;
}
.card-slider_author > p {
  font-family: var(--primary-font) !important;
  font-size: 1rem;
  font-weight: 400;
}
.card-slider_header > button {
  margin-left: auto;
}

.card-slider_body {
  margin-top: 2.5rem;
  text-align: right;
}
.card-slider_body > h4 {
  font-family: var(--primary-font) !important;
  font-size: 1.25rem;
  font-weight: 600;
}
.card-slider_body > p {
  font-family: var(--primary-font) !important;
  font-size: 1rem;
  font-weight: 400;
}

.card-slider_media {
  margin-top: 1rem;
  max-height: 10rem;
  width: 100%;
  overflow: hidden;
}
.card-slider_media > p {
  font-family: var(--primary-font) !important;
  font-size: 1rem;
  color: #00887d;
  text-align: left;
  margin-bottom: 0.5rem;
  /* object-fit: contain; */
}
.card-slider_media > img {
  border-radius: 10px;

  /* object-fit: contain; */
}

/* .card-swiper-slider .swiper-button-prev {
    height: 5px;
    width: 5px;
}
.card-swiper-slider .swiper-button-prev:after {
    content: url("../images/arrow.png");
    
    height: 50px;
    width: 50px;
} */

.card-swiper-slider .swiper-button-prev:after {
  content: url("../images/arrow.png");
  transform: scale(0.05) scaleX(-1);
  /* padding: 2rem; */
  /* background-color: #ffffff; */
  text-align: center;
  margin-left: -0.1rem;
}
.card-swiper-slider .swiper-button-prev {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s;
}
.card-swiper-slider .swiper-button-prev:hover {
  background-color: #00a89b !important;
}
/* .card-swiper-slider .swiper-button-prev:hover:after {
    background-color: #00a89b !important;
} */
.card-swiper-slider .swiper-button-next:after {
  content: url("../images/arrow.png");
  transform: scale(0.05);
  margin-right: -0.1rem;
  text-align: center;
  /* padding: 2rem; */
  /* background-color: #ffffff;
    border-radius: 50%; */
}
.card-swiper-slider .swiper-button-next {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s;
}
.card-swiper-slider .swiper-button-next:hover {
  background-color: #00a89b !important;
}
/* card slider container end */

/* hero swiper slider start */
.hero-swiper-slider-container .swiper {
  width: 100%;
  height: 100%;
}

.hero-swiper-slider-container .swiper-slide {
  height: 540px;
  font-family: var(--primary-font) !important;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-swiper-slider-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* hero swiper slider end */

/* institute slider container start */
.institute-slider-contianer {
  background-color: rgba(102, 102, 102, 0.6);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.institute-slider_title > p {
  font-family: var(--primary-font) !important;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.institute-slider-contianer .swiper {
  width: 100%;
  height: 100%;
}
.institute-slider-contianer .swiper-wrapper {
  display: flex;
  align-items: center;
}

.institute-slider-contianer .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.institute-slider-contianer .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.institute-swiper-slider {
}
.institute-swiper-slider-contents {
  padding: 1.5rem;
}
.institute-swiper-slider-contents img {
  height: 1.5rem;
}

.institute-swiper-slider > .swiper-button-prev {
  left: -5px;
}
.institute-swiper-slider > .swiper-button-prev:after {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
}
.institute-swiper-slider > .swiper-button-next {
  right: -5px;
}
.institute-swiper-slider > .swiper-button-next:after {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
}
/* institute slider container end */

/* test slider */

.test-slider-container .swiper {
  width: 100%;
  height: 100%;
}

.test-slider-container .swiper-slide {
  text-align: center;
  font-family: var(--primary-font) !important;
  font-size: 18px;
  background: #fff;
  height: 180px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-slider-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.test-slider-container .swiper-slide-active {
  z-index: 3 !important;
}
.test-slider-container .swiper-slide-next {
  z-index: 2 !important;
}
.test-slider-container .swiper-slide-next + .swiper-slide {
  z-index: 1 !important;
}

/* multiselector img section start */
.multiselector_media-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  padding-left: 5rem;
}
.multiselector_media-container > img {
  width: 75%;
  transition: all 0.5s ease;
}
.multiselector_media-container > img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
/* multiselector img section end */

/* css media query */
/* Medium devices (landscape tablets, 768px and down) */

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  .hero-swiper-slider-container .swiper-slide {
    height: 440px;
  }
  .card-slider-container .swiper {
    width: 65% !important;
  }
  .multiselector_media-container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .hero-swiper-slider-container .swiper-slide {
    height: 320px;
  }
  .card-slider-container .swiper {
    width: 90% !important;
  }
  .multiselector_media-container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1300px) {
  .card-slider-container .swiper {
    width: 40%;
    height: 100%;
  }
}
