/* text slider section start */
.text-slider-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.text-swiper-slider {
  /* background-color: green; */
}
.text-swiper-slider > .swiper-button-prev:after {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
}
.text-swiper-slider > .swiper-button-next:after {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
}

.text-swiper-slider_content-Box {
  min-height: 14rem;
}
.text-swiper-slider_content-Box > h4 {
  color: #ffffff !important;
  font-size: 1.5rem;
  text-align: right;
}
.text-swiper-slider_content-Box > p {
  color: #ffffff !important;
  font-size: 1rem;
  text-align: right;
  margin-top: 1.5rem;
}
/* text slider section end */

/* card slider container start */
.card-slider-container {
  /* height: 120px; */
}
/* .card-swiper-container {
  width: 100%;
} */

.card-swiper-slider > .swiper-wrapper .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-swiper-slider > .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.card-swiper-slider > .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
}

/* .card-swiper-slider > .swiper-wrapper .swiper-slide-active {
  z-index: 1;
}
.card-swiper-slider > .swiper-wrapper .swiper-slide-next {
  margin-left: -185px;
} */

/* card slider container end */

/* hero swiper slider start */
.hero-swiper-slider-container .swiper {
  width: 100%;
  height: 100%;
}

.hero-swiper-slider-container .swiper-slide {
  height: 540px;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-swiper-slider-container .swiper-slide:nth-child(1) {
  background-color: rgba(0, 128, 0, 0.362);
}
.hero-swiper-slider-container .swiper-slide:nth-child(2) {
  background-color: rgba(0, 0, 255, 0.295);
}
.hero-swiper-slider-container .swiper-slide:nth-child(3) {
  background-color: rgba(255, 0, 0, 0.281);
}
.hero-swiper-slider-container .swiper-slide:nth-child(4) {
  background-color: rgba(255, 255, 0, 0.54);
}
.hero-swiper-slider-container .swiper-slide:nth-child(5) {
  background-color: rgba(255, 192, 203, 0.506);
}

.hero-swiper-slider-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* hero swiper slider end */

/* institute slider container start */
.institute-slider-contianer {
  background-color: rgba(102, 102, 102, 0.6);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.institute-slider-contianer .swiper {
  width: 100%;
  height: 100%;
}
.institute-slider-contianer .swiper-wrapper {
  display: flex;
  align-items: center;
}

.institute-slider-contianer .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.institute-slider-contianer .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.institute-swiper-slider {
}
.institute-swiper-slider-contents {
  padding: 1.5rem;
}
.institute-swiper-slider-contents img {
  height: 1.5rem;
}

.institute-swiper-slider > .swiper-button-prev {
  left: -5px;
}
.institute-swiper-slider > .swiper-button-prev:after {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
}
.institute-swiper-slider > .swiper-button-next {
  right: -5px;
}
.institute-swiper-slider > .swiper-button-next:after {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
}
/* institute slider container end */
