.news-popup-container {
}
.news-popup-container > button {
  /* height: 3.5rem; */
  border-radius: 50% !important;
  margin-top: -100px;
  margin-left: -15px;
}
.news-popup-container > button img {
  height: 3.5rem;
}

.news-popup-elements {
  height: 100%;
  margin-top: -20px;
  overflow-y: scroll;
}
.news-popup_media img {
  width: 100%;
}

.news-popup_contents {
  padding: 2.5rem;
}
.news-popup_contents > h4 {
  color: #000;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}
.news-popup_contents > p {
  margin-top: 2.5rem;
  text-align: right;
  font-size: 1.5rem;
}

/* news form section start */
.news-form-section-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.news-form-parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  /* background-color: #005c78; */
  background-color: #00303f;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.news-form-child-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.news-form-child-container
  > div
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: #ffffff;
}
.news-form-child-container > div p {
  text-align: right;
  color: #ffffff;
  font-size: 1.5rem;
}
.news-form-child-container > button {
  color: #ffffff !important;
  font-size: 1.5rem;
  height: 3.5rem;
  margin-top: 1.5rem;
  border-radius: 0;
  background-color: #00a89b !important;
}
.news-form-child-container > p {
  text-align: right;
  color: #ffffff;
  font-size: 1.5rem;
}
/* news form section end */

/* news slider start */
.news-card-container {
  border-radius: 10px !important;
  position: relative;
}

.news-card-badge {
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00a89b;
  top: 10px;
  right: 10px;
}
.news-card-badge > h4 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #ffffff;
}
.news-card-badge > p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: -0.25rem;
}
/* news slider end */
