/* service card section start */
.service-cards {
  background-color: transparent !important;
  border: 1px solid #ffffff75;
  border-radius: 10px !important;
  box-shadow: none !important;
  padding: 0.5rem;
}

.service-card_media {
  border-radius: 10px !important;
}
.service-card_content {
  padding: 0 !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-card_content > h5 {
  color: #ffffff;
  font-size: 1rem;
}
.service-card_content > p {
  color: #ffffff;
}
.service-card_content > button {
  color: #ffffff !important;
  border: 1px solid #ffffff75 !important;
  border-radius: 50px;
  font-size: 1rem !important;
  height: 1.75rem;
}
.service-card_content > button .MuiSvgIcon-root {
  font-size: 1rem !important;
}
/* service card section end */

/* services filter option start */
.sv-sorting-filter {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sv-sorting-filter .MuiOutlinedInput-notchedOutline {
  border: 1px solid #ffffff !important;
}

.sv-sorting-filter .MuiSvgIcon-root {
  color: #ffffff !important;
}
.sv-sorting-filter .MuiSelect-select {
  color: #ffffff !important;
}

.sv-sorting-filter > p {
  color: #ffffff !important;
  font-size: 1rem !important;
}
.sv-sorting-filter > .MuiFormControl-root {
  color: #ffffff !important;
  height: 2.75rem !important;
  border-radius: 50px !important;
  background-color: #00354589 !important;
}
.sv-sorting-filter > .css-fvipm8 {
  color: #ffffff !important;
  height: 2.75rem !important;
  border-radius: 50px !important;
  background-color: #00354589 !important;
}

.sv-variant-btn > button {
  color: #ffffff !important;
  font-size: 1rem !important;
  text-transform: none !important;
}

.sv-search-filed .MuiOutlinedInput-notchedOutline {
  border: 1px solid #ffffff !important;
  border-radius: 50px !important;
}
.sv-search-filed .MuiInputBase-input {
  color: #ffffff !important;
  font-size: 1rem !important;
  height: 0.5rem !important;
  border-radius: 50px !important;
  background-color: #00354589 !important;
}
/* services filter option end */
